<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />

    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2
        }
    </style>
</head>

<body>
    <div class="container" text-3xl>
        <h1> WELCOME TO HOME PAGE</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Labore autem qui cum nam! Illo voluptates quo nisi, soluta et iusto, 
            voluptatibus non porro consequatur eveniet laudantium unde enim qui officiis odio cumque.
             Numquam eos dolorem aut alias at laborum voluptatum! Accusamus aut expedita nulla, dolores soluta qui accusantium id rem!</p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>