<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div id="content">
        <h1>This is the Signup page page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, quisquam a, obcaecati accusamus <p/>
    </div>>
    <script>
        console.log("Register Page")
    </script>
    
</body>
</html>