<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
</head>
<body>
    <section id="content">
      <h1>This is the servivces page</h1>
      <h2>Service offered by scm</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae sint earum </p>
    </section>  
    <script>
       console.log("Services page")
    </script>
</body>
</html>